In [1]:
import pandas as pd
import spacy
from tqdm import tqdm
from unidecode import unidecode

In [2]:
pd.options.display.max_colwidth = 100

In [3]:
nlp = spacy.load("en_core_web_sm")

In [4]:

prefixes = [word.replace(" ","") for word in nlp.Defaults.prefixes]
prefixes.append('(')
prefixes.append(')')
prefixes.append('[')
prefixes.append(']')
prefixes

['§',
 '%',
 '=',
 '—',
 '–',
 '\\+(?![0-9])',
 '…',
 '……',
 ',',
 ':',
 ';',
 '\\!',
 '\\?',
 '¿',
 '؟',
 '¡',
 '\\(',
 '\\)',
 '\\[',
 '\\]',
 '\\{',
 '\\}',
 '<',
 '>',
 '_',
 '#',
 '\\*',
 '&',
 '。',
 '？',
 '！',
 '，',
 '、',
 '；',
 '：',
 '～',
 '·',
 '।',
 '،',
 '۔',
 '؛',
 '٪',
 '\\.\\.+',
 '…',
 "\\'",
 '"',
 '”',
 '“',
 '`',
 '‘',
 '´',
 '’',
 '‚',
 ',',
 '„',
 '»',
 '«',
 '「',
 '」',
 '『',
 '』',
 '（',
 '）',
 '〔',
 '〕',
 '【',
 '】',
 '《',
 '》',
 '〈',
 '〉',
 '\\$',
 '£',
 '€',
 '¥',
 '฿',
 'US\\$',
 'C\\$',
 'A\\$',
 '₽',
 '﷼',
 '₴',
 '₠',
 '₡',
 '₢',
 '₣',
 '₤',
 '₥',
 '₦',
 '₧',
 '₨',
 '₩',
 '₪',
 '₫',
 '€',
 '₭',
 '₮',
 '₯',
 '₰',
 '₱',
 '₲',
 '₳',
 '₴',
 '₵',
 '₶',
 '₷',
 '₸',
 '₹',
 '₺',
 '₻',
 '₼',
 '₽',
 '₾',
 '₿',
 '[\\u00A6\\u00A9\\u00AE\\u00B0\\u0482\\u058D\\u058E\\u060E\\u060F\\u06DE\\u06E9\\u06FD\\u06FE\\u07F6\\u09FA\\u0B70\\u0BF3-\\u0BF8\\u0BFA\\u0C7F\\u0D4F\\u0D79\\u0F01-\\u0F03\\u0F13\\u0F15-\\u0F17\\u0F1A-\\u0F1F\\u0F34\\u0F36\\u0F38\\u0FBE-\\u0FC5\\u0FC7-\\u0FCC\\u0FCE\\u0FCF\\u0FD5-\\u0FD8\\u109E\\u109F\\u1390-\\u1399\\u1940\\u19DE-\\u19FF\\u1B61-\\u1B6A\\u1B74-\\u1B7C\\u2100\\u2101\\u2103-\\u2106\\u2108\\u2109\\u2114\\u2116\\u2117\\u211E-\\u2123\\u2125\\u2127\\u2129\\u212E\\u213A\\u213B\\u214A\\u214C\\u214D\\u214F\\u218A\\u218B\\u2195-\\u2199\\u219C-\\u219F\\u21A1\\u21A2\\u21A4\\u21A5\\u21A7-\\u21AD\\u21AF-\\u21CD\\u21D0\\u21D1\\u21D3\\u21D5-\\u21F3\\u2300-\\u2307\\u230C-\\u231F\\u2322-\\u2328\\u232B-\\u237B\\u237D-\\u239A\\u23B4-\\u23DB\\u23E2-\\u2426\\u2440-\\u244A\\u249C-\\u24E9\\u2500-\\u25B6\\u25B8-\\u25C0\\u25C2-\\u25F7\\u2600-\\u266E\\u2670-\\u2767\\u2794-\\u27BF\\u2800-\\u28FF\\u2B00-\\u2B2F\\u2B45\\u2B46\\u2B4D-\\u2B73\\u2B76-\\u2B95\\u2B98-\\u2BC8\\u2BCA-\\u2BFE\\u2CE5-\\u2CEA\\u2E80-\\u2E99\\u2E9B-\\u2EF3\\u2F00-\\u2FD5\\u2FF0-\\u2FFB\\u3004\\u3012\\u3013\\u3020\\u3036\\u3037\\u303E\\u303F\\u3190\\u3191\\u3196-\\u319F\\u31C0-\\u31E3\\u3200-\\u321E\\u322A-\\u3247\\u3250\\u3260-\\u327F\\u328A-\\u32B0\\u32C0-\\u32FE\\u3300-\\u33FF\\u4DC0-\\u4DFF\\uA490-\\uA4C6\\uA828-\\uA82B\\uA836\\uA837\\uA839\\uAA77-\\uAA79\\uFDFD\\uFFE4\\uFFE8\\uFFED\\uFFEE\\uFFFC\\uFFFD\\U00010137-\\U0001013F\\U00010179-\\U00010189\\U0001018C-\\U0001018E\\U00010190-\\U0001019B\\U000101A0\\U000101D0-\\U000101FC\\U00010877\\U00010878\\U00010AC8\\U0001173F\\U00016B3C-\\U00016B3F\\U00016B45\\U0001BC9C\\U0001D000-\\U0001D0F5\\U0001D100-\\U0001D126\\U0001D129-\\U0001D164\\U0001D16A-\\U0001D16C\\U0001D183\\U0001D184\\U0001D18C-\\U0001D1A9\\U0001D1AE-\\U0001D1E8\\U0001D200-\\U0001D241\\U0001D245\\U0001D300-\\U0001D356\\U0001D800-\\U0001D9FF\\U0001DA37-\\U0001DA3A\\U0001DA6D-\\U0001DA74\\U0001DA76-\\U0001DA83\\U0001DA85\\U0001DA86\\U0001ECAC\\U0001F000-\\U0001F02B\\U0001F030-\\U0001F093\\U0001F0A0-\\U0001F0AE\\U0001F0B1-\\U0001F0BF\\U0001F0C1-\\U0001F0CF\\U0001F0D1-\\U0001F0F5\\U0001F110-\\U0001F16B\\U0001F170-\\U0001F1AC\\U0001F1E6-\\U0001F202\\U0001F210-\\U0001F23B\\U0001F240-\\U0001F248\\U0001F250\\U0001F251\\U0001F260-\\U0001F265\\U0001F300-\\U0001F3FA\\U0001F400-\\U0001F6D4\\U0001F6E0-\\U0001F6EC\\U0001F6F0-\\U0001F6F9\\U0001F700-\\U0001F773\\U0001F780-\\U0001F7D8\\U0001F800-\\U0001F80B\\U0001F810-\\U0001F847\\U0001F850-\\U0001F859\\U0001F860-\\U0001F887\\U0001F890-\\U0001F8AD\\U0001F900-\\U0001F90B\\U0001F910-\\U0001F93E\\U0001F940-\\U0001F970\\U0001F973-\\U0001F976\\U0001F97A\\U0001F97C-\\U0001F9A2\\U0001F9B0-\\U0001F9B9\\U0001F9C0-\\U0001F9C2\\U0001F9D0-\\U0001F9FF\\U0001FA60-\\U0001FA6D]',
 '(',
 ')',
 '[',
 ']']

In [5]:
ndm = ['Ltd',
 'Ltd.',
 'Ltd.,',
 'Ltd,',
 'Co',
 'Co.',
 'Co.,',
 'Co,',
 'De',
 'De.',
 'De.,',
 'De,',
 'Inc',
 'Inc.',
 'Inc.,',
 'Inc,',
 'International',
 'International.',
 'International.,',
 'International,',
 '&',
 '&.',
 '&.,',
 '&,',
 'Sa',
 'Sa.',
 'Sa.,',
 'Sa,',
 'Industries',
 'Industries.',
 'Industries.,',
 'Industries,',
 'Llc',
 'Llc.',
 'Llc.,',
 'Llc,',
 'Trading',
 'Trading.',
 'Trading.,',
 'Trading,']
for index,i in enumerate(ndm):
    ndm[index] = i.lower()
ndm

['ltd',
 'ltd.',
 'ltd.,',
 'ltd,',
 'co',
 'co.',
 'co.,',
 'co,',
 'de',
 'de.',
 'de.,',
 'de,',
 'inc',
 'inc.',
 'inc.,',
 'inc,',
 'international',
 'international.',
 'international.,',
 'international,',
 '&',
 '&.',
 '&.,',
 '&,',
 'sa',
 'sa.',
 'sa.,',
 'sa,',
 'industries',
 'industries.',
 'industries.,',
 'industries,',
 'llc',
 'llc.',
 'llc.,',
 'llc,',
 'trading',
 'trading.',
 'trading.,',
 'trading,']

In [6]:
df = pd.read_csv("data\train.csv").drop(columns=['pair_id'])
print(df.head(5))
len(df)
df = df.sort_values('is_duplicate')
df = df.drop(df.index[0:490000])
#df.is_duplicate.value_counts()
print(df.is_duplicate.value_counts())
df = df.reset_index(drop=True)
df.to_csv("data\sampled_train.csv")

                              name_1                                name_2  \
0                Iko Industries Ltd.  Enormous Industrial Trade Pvt., Ltd.
1            Apcotex Industries Ltd.   Technocraft Industries (India) Ltd.
2  Rishichem Distributors Pvt., Ltd.                                   Dsa
3            Powermax Rubber Factory                               Co. One
4                          Tress A/S      Longyou Industries Park Zhejiang

   is_duplicate
0             0
1             0
2             0
3             0
4             0
0    4161
1    3658
Name: is_duplicate, dtype: int64

In [7]:
# Testing variables

sentence1 = "But that life lived in death, and death in life Inc"
print(sentence1)
sentence2 = "官話字母"
print(sentence2)
sentence3 = "Нумеросити Co., Ltd."
print(sentence3)
doc1 = [sentence1,sentence2]
print(doc1)
word1 = sentence1.split()[1]
print(word1)
df1 = pd.DataFrame([doc1, [sentence1 + " " + word1, sentence2 + " " + word1]])
print(df1)
"""
print(list(df1.loc[1].items())[0][1])

for i in list(df1.loc[0].items()):
    print(i[1])
len(df1.iloc[0])
"""
# print(i for i in range(len(df)))
# df.loc[0,"name_1"]

But that life lived in death, and death in life Inc
官話字母
Нумеросити Co., Ltd.
['But that life lived in death, and death in life Inc', '官話字母']
that
                                                          0          1
0       But that life lived in death, and death in life Inc       官話字母
1  But that life lived in death, and death in life Inc that  官話字母 that

'\nprint(list(df1.loc[1].items())[0][1])\n\nfor i in list(df1.loc[0].items()):\n    print(i[1])\nlen(df1.iloc[0])\n'

In [8]:
def transliterate(sent):
    return unidecode(sent)
print("testing - word Привет! == ",transliterate("Привет!"))

testing - word Привет! ==  Privet!

In [9]:
def lowercase(sent):
    return sent.lower()
print("testing - word 'Привет! ОкОлО!21' == ", lowercase('Привет! ОкОлО!21'))

testing - word 'Привет! ОкОлО!21' ==  привет! около!21

In [10]:

stopwords = []
def cleaning(sent):
    clean = []
    doc  = nlp(sent)
    for word in doc:
        word = str(word)
        if word in prefixes:
            continue
        if word in ndm:
            continue
        if word in nlp.Defaults.stop_words:
            continue
        clean.append(word)
#     doc = nlp(sent)
#     clean = ""
#     for word in doc:
#         if nlp.vocab[str(word)].is_stop == False:
#             clean = clean + " " + word.text
    return " ".join(clean)
cleaning(sentence1)

'But life lived death death life Inc'

In [11]:
data = df.values.tolist()
data[1][1]

'Bobinas De Calidad S De Rl De Cv'

In [12]:
def normalizing(df, labels=None):
    for row in tqdm(range(len(df))):
        for it in range(2):
            buff = transliterate(df[row][it])
            buff = lowercase(buff)
            buff = cleaning(buff)
            df[row][it] = buff
    return df

new_data = normalizing(data)

100%|█████████████████████████████████████████████████████████████████████████████| 7819/7819 [01:02<00:00, 124.51it/s]

In [13]:
new_df = pd.DataFrame(new_data,columns=("name_1","name_2","is_duplicate"))
new_df

,name_1,name_2,is_duplicate
0,gerdau ameristeel,amster s.a .,0
1,ia s.a d cv,bobinas calidad s rl cv,0
2,powersource,sto corp,0
3,trelleborg santana parnaiba ind comer solucoes,ktn,0
4,qingdao hymd trade .,indaco sp,0
...,...,...,...
7814,bridgestone china research development .,bridgestone firestone brasil,1
7815,tokyo zairyo m sdn bhd,tokyo zairyo .,1
7816,michelin na asrc,michelin india private .,1
7817,michelin group,michelin siam .,1
7818,arlanxeo group,arlanxeo,1

In [15]:
new_df.to_csv("data\normalized_train1.csv", index=False)

['ia s.a d cv', 'bobinas calidad s rl cv', 0]